.about-me {
  background-color: var(--bgColor);
  padding: 20px;
  color: var(--primary);
  display: flex;
  font-size: 1.2em;
  justify-content: center;
}

.left-side,
.right-side-about-me {
  width: 25%;
}

.pair p {
  font-size: 0.8em;
}

.pair {
  padding: 10px;
}
