.chatbox-container {
  background-color: var(--bgColor);
  padding: 15px;
  color: var(--primary);
  height: fit-content;
  overflow: hidden;
  width: 100%;

  margin: auto;
}

.friend-private-chat {
  border-left: 1px solid rgb(124, 118, 118);
  margin-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.friend-private-chat-input {
  width: 90%;
  border-radius: 10px;
  border: 0px solid rgb(124, 118, 118);
  padding: 10px;
  align-self: flex-end;
  background-color: var(--bgColor);
  color: var(--primary);
}

.friend-private-chat-input:focus {
  outline: none;
}

.friend-chat-div {
  display: flex;
  align-items: center;
  justify-self: flex-end;
}

.friend-chat-div:hover {
  cursor: pointer;
}

.chat-controlls {
  display: block;
  margin-top: 2%;
  width: 100%;
  display: flex;
  border: 1px solid rgb(124, 118, 118);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.messages {
  height: 400px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  /*  width: 200px; */
}

.active-chat {
  color: rgb(56, 182, 231);
  border-radius: 10px;
}

.left-msg,
.right-msg {
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px 0%;
  width: fit-content;
  color: white;
  word-wrap: break-word;
  max-width: 500px;
}

.left-msg {
  background-color: rgb(56, 182, 231);
  margin-left: 10px;
}
.right-msg {
  /* display: inline-block; */
  align-self: flex-end;
  background-color: rgb(25, 226, 102);
  text-align: end;
  margin-right: 10px;
}

.chatbox-container-center {
  display: flex;
}

.chatbox-container .chat-upper-layer {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  color: rgb(56, 182, 231);
}

.chat-upper-layer h2 {
  margin-left: 10px;
}

.chat-bell-icon {
  font-size: 2em;
  color: rgb(56, 182, 231);

  padding: 5px;
  border-radius: 50%;
}

.chat-action-icon {
  font-size: 1.2em;
  margin: 0px 5px;
  color: rgb(97, 96, 96);
}

.chat-action-icon:hover {
  cursor: pointer;
}

.chat-select {
  display: flex;
  position: relative;
  flex-direction: column;
}

.chat-img {
  max-width: 200px;
  background-color: white;
  border: 1px solid rgba(20, 20, 20, 0.2);
  padding: 0;
}

.chat-img:hover {
  cursor: pointer;
}

.friend-status-container {
  display: flex;
  align-items: center;
  border: 0px solid blue;
}

.friend-status {
  position: absolute;
  bottom: 10px;
  right: 5px;
  width: 15px;
  height: 15px;
  background-color: rgb(71, 70, 70);
  border-radius: 50%;
}
.friend-online {
  transition: 2s ease;
  border: 3px solid rgb(28, 133, 194);
}

.friend-offline {
  transition: 2s ease;
  border: 3px solid rgb(71, 70, 70);
}

.friend-status-block {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 48px;
  align-self: center;
  margin-top: 10px;

  /* border:1px solid red; */
}

.message-sent-time {
  color: gray;
  font-size: 0.75em;
  background-color: transparent;
  margin-right: 0;
  margin-left: 0;
}

.inbox {
}

.chat-friend-display-avatar {
  object-fit: cover;
}
