.friend-invites-container {
  background-color: var(--bgColor);
  padding: 10px;
  height: fit-content;
  max-height: 500px;
  overflow-y: auto;
  border: 0px solid rgb(226, 226, 226);
  font-size: 1em;
  color: var(--primary);
  margin-left: 2%;
  /* width: 100%; */
}

.friend-invites-container img {
  height: 38px;
  width: 38px;
  min-width: 38px;
  min-height: 38px;
  margin-right: 10px;
  border-radius: 10px;
  object-fit: cover;
}

.invite {
  display: flex;
  align-items: center;
  margin: 2% 0%;
  padding: 5px;
  width: 100%;
}

.right-side {
  width: 100%;
  display: flex;
  align-items: center;
  border: 0px solid red;
}

.accept-button {
}

.denie-button {
  color: crimson;
  margin-left: 10px;
}

.right-side button:hover {
  cursor: pointer;
}

.invite-actions {
  display: flex;

  right: 0px;
  justify-self: end;
}

.invite-username {
  font-size: 0.8em;
  width: 100%;
}

.accept-button:hover,
.denie-button:hover {
  cursor: pointer;
}

.invite-avatar:hover,
.invite-username:hover {
  cursor: pointer;
}

@media only screen and (max-width: 980px) {
  .friend-invites-container {
    margin-left: 0%;
    margin-top: 2%;
  }
}
