.friends-display,
.online-friends-display {
  background-color: var(--bgColor);
  padding: 10px;

  height: fit-content;
  min-height: 60px;
  border: 0px solid rgb(226, 226, 226);
  font-size: 1.05em;
  color: var(--primary);
  margin-left: 5px;
  margin-top: 2%;
}

.friends-display {
  width: 50%;
  margin: auto;
}
.friends-display ul li {
  list-style: none;
  display: flex;
  align-items: center;
}
.friend-avatar {
  height: 48px;
  width: 48px;
  border-radius: 10px;
  margin: 10px;
  object-fit: cover;
}

.friends-display > input {
  height: 32px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.friend-handle {
  font-size: 0.8em;
}

.name-handle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name-handle:hover,
.friend-avatar:hover,
.friend-handle:hover {
  cursor: pointer;
}

.friend-li {
  border-bottom: 1px solid var(--secondary);
}

.no-friends {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.online-friends-display > ul {
  display: flex;
}

/* .online-circle {
  padding: 1px 5px;
  border: 1px solid var(--niceGreen);
  background-color: var(--niceGreen);
  border-radius: 50%;
  margin-left: 10px;
}

.online-friends-display h5 {
  display: flex;
  align-items: center;
}
 */

@media only screen and (max-width: 600px) {
  .friends-display {
    width: 100%;
    margin: auto;
  }

  .grid-item-2,
  .grid-item-1 {
    font-size: 0.8em;
  }
}
