.homepage {
  background-color: var(--secondary);
  min-height: 100vh;
  position: relative;
  border: 0px solid red;
}

.grid-item {
  width: 100%;
  display: flex;
  border: 0px solid red;
  justify-content: center;
}

.loader-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.recent-activity > ul {
  list-style: none;
}

.recent-activity .name {
  color: var(--niceGreen);
  font-weight: bold;
}

.recent-activity .movie-name {
  color: gold;
  font-weight: bold;
  width: fit-content;
}

.recent-activity .post {
  color: crimson;
  font-weight: bold;
}

.recent-activity > ul > li {
  /*  display: flex; */
  border-bottom: 1px solid var(--secondary);
  /*  padding: 10px 0px; */
}

.recent-activity > ul > li > span {
  margin: 0px 5px;
}

.sidebar-content {
  border: 0px solid red;
  width: 25%;
  position: sticky;
  height: fit-content;
  top: 7%;
}

.test-cont {
  border: 0px solid lime;
}

.found-users-page {
  border: 0px solid red;
  width: 50%;
}

.special {
  margin-top: 1%;
}

.users-found {
  padding: 20px;
  background-color: var(--bgColor);
  color: var(--primary);
}

.user-found-div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondary);
}

.grid-item-1,
.grid-item-2,
.grid-item-3 {
  display: flex;
  align-items: center;
}

.add-button {
  color: var(--niceGreen);
}

.add-button:hover {
  cursor: pointer;
}
.posts-container-homepage {
  width: 75%;
  border: 0px solid red;
}

.posts-container {
  width: 60%;
  border: 0px solid red;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 800px) {
  .posts-container-homepage {
    width: 100%;
    border: 0px solid red;
  }

  .posts-container {
    width: 95%;

    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1500px) {
  .posts-container {
    width: 80%;
    border: 0px solid red;
  }
}
@media only screen and (max-width: 1200px) {
  .posts-container {
    width: 98%;
    border: 0px solid red;
  }
}
