
.homepage{
    background-color: #f1f1f1;
    min-height: 100vh;
    position: relative;
    border:0px solid red;
    
}

.main-content > .right-sidebar,.main-content > .left-sidebar{
    border: 1px solid red;
    width: 20%;
    position: fixed;
    top: 80px;
    
   
}

 .grid-container{
    
    display: grid;
    grid-template-columns: 20%  40% 20%;
    gap: 5%;
    justify-content: center;

 }

 .grid-item{
    width: 100%;
    
  }
  .sidebar{
    border: 0px solid red;
    position: sticky;
    top: 60px;
    height: fit-content;
    margin-top: 0;
  }
