.image-modal{
    position:fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(30,30,30,.5);
}


.image-modal  .img-image-modal{
    max-width: 100%;
    max-height: 90%;
    background-color: white;
}



.image-modal button{

    width: 100px;
    height: 50px;
   
}


.close-image-modal{
    top: 20px;
    left: 20px;
    position:absolute;
    background-color: rgba(30,30,30,.5);
    font-size: 2em;
    color:white;
    padding: 5px;
    border-radius: 50%;
    transition: .2s ease;
}

.close-image-modal:hover{
    color:crimson;
    background-color: rgba(230,230,230,.8);
    cursor: pointer;
}