.single-movie-container {
  width: 100%;
  max-height: 640px;
  position: relative;
  background-color: rgba(20, 20, 20, 1);
  padding: 50px;
  margin-top: 1.7%;
}

.movie-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.single-movie-poster {
  height: 360px;
}

.backdrop-shadow {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(13, 61, 94, 0.4);
  z-index: 2;
}

.movie-container-content {
  z-index: 3;
  display: flex;
  width: 75%;
  margin: auto;
  color: var(--primary);
}

.movie-details {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-details h4 {
  font-weight: bold;
  font-size: 2em;
}

.layer-1 {
  display: flex;
  align-items: center;
}

.layer-1 h5 {
  font-size: 1.6em;
  font-weight: 100;
  margin-left: 10px;
}

.layer-2,
.layer-3 {
  display: flex;
  align-items: center;
}

.layer-2 p {
  margin-right: 10px;
}

.layer-3 h5 {
  display: block;
  width: 30px;
  font-size: 1.2em;
}

.like-icon {
  font-size: 2.5em;
}

.like-icon:hover {
  cursor: pointer;
  color: var(--niceGreen);
}
.user-score {
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  border-radius: 50%;
  border: 3px solid rgb(45, 172, 45);
  background-color: var(--bgColor);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.user-score-outline {
  margin: 7px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: absolute;
  border: 18px solid var(--bgColor);
  background-color: var(--bgColor);
}

.tagline {
  font-style: italic;
  margin-bottom: 10px;
}

.movie-dropdown-menu {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 4%;
  border: 0px solid red;
}

.movie-dropdown-content {
  display: none;
  /* background-color: var(--bgColor); */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2%;
  padding: 5px;
  z-index: 1;
  color: var(--primary);
}

.movie-dropdown-menu:hover .movie-dropdown-content {
  display: flex;
}
.movie-dropdown-menu:hover .like-icon {
  color: var(--niceGreen);
}

.movie-dropdown-content ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 1px 5px;
}

.movie-container-content ul li {
  display: flex;
  align-items: center;
  margin: 0px 5px;
  font-weight: bold;
}
.movie-container-content ul li:hover {
  color: var(--niceGreen);
  cursor: pointer;
}
.star {
  color: gold;
}

.dislike-icon {
  font-size: 2.15em;
  margin-left: 10px;
}

.dislike-icon:hover {
  cursor: pointer;
  color: crimson;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1921px) {
  .movie-container-content {
    width: 50%;
  }
}
