.movie-card-container{
    color:var(--primary); 
    margin: 10px 5px;
}

.movie-card-upper{
    width: 180px;

}

.movie-poster{
    border-radius: 10px;
    width: 100%;
}

.movie-rating{
    border:2px solid rgb(16, 180, 51);
    width: fit-content;
    padding: 4px;
    border-radius: 100%;
    font-size: .7em;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: bold;
    margin-left: 10px;
    background-color: var(--bgColor);
}

.movie-card-bottom{
    margin-top: -25px;
    max-width: 180px;
}

.movie-card-bottom  h5{
    font-weight: bold;
    margin: 5px 0px;
}

.movie-card-bottom p {
    font-size: .8em;
}

.movie-poster:hover,.movie-card-bottom > h5:hover{
    cursor: pointer;
}