.navbar {
  height: 60px;
  background-color: var(--bgColor);
  /*  color:#30F5C8; */
  color: var(--primary);
  border-bottom: 0px solid var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-logo {
  height: 40px;
  margin: 5px 10px;
}

.navbar-logo:hover,
.site-name:hover {
  cursor: pointer;
}

.dropdown-menus {
  display: flex;
  align-items: center;
}

.dropdown-menus .menu-item {
  margin: 10px;
}

.icons {
  margin-right: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.icon {
  margin: 15px;
  font-size: 18px;
}

.icon:hover,
.menu-item:hover {
  cursor: pointer;
  color: rgb(62, 143, 170);
}

.avatar {
  height: 48px;
  width: 48px;
  border-radius: 10px;
  border: 0px solid gray;
  margin: 0px 10px;
  object-fit: cover;
}

.avatar:hover {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
}
.search-input {
  background-color: #f1f1f1;
  border: none;
  padding: 10px;
  padding-left: 40px;
  border-radius: 10px;
  width: 300px;
}

.search-input:focus {
  outline: 1px solid lightblue;
}

.search-icon {
  position: absolute;
  left: 0;
  font-size: 1em;
  color: rgb(136, 136, 136);
}

.site-name {
  font-size: 1.5em;
  font-weight: bold;
  opacity: 1;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.navbar-routes ul {
  display: flex;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1em;
}

.navbar-routes li {
  list-style: none;
  margin: 0px 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary);
}

.navbar-routes li:hover {
  cursor: pointer;
  color: var(--niceGreen);
}
.icons ul {
  display: flex;
  list-style: none;
  font-size: 1em;
  width: fit-content;
}

.icons ul li:hover {
  cursor: pointer;
}

.icons ul li {
  color: var(--primary);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bgColor);
  /*  min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 0px;
  z-index: 1;
  color: var(--primary);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content ul {
  display: flex;
  flex-direction: column;
}

.mobile-position {
  display: none;
}

.shortcut-icons {
  border: 0px solid red;
  width: 100%;
}
.mobile-positionx {
  display: none;
}

.mobile-position-arrow {
  display: none;
}

@media only screen and (max-width: 700px) {
  .desktop-position {
    display: none;
  }

  .avatar {
    width: 36px;
    height: 36px;
  }

  .mobile-position {
    display: block;
    padding: 5px;
    background-color: var(--bgColor);
    position: sticky;
    top: 60px;
    z-index: 100;
    width: 100%;
  }

  .navbar-routes {
    width: 100px;
    background-color: var(--secondary);
    position: fixed;
    top: 0;
    left: 0;
  }
  .navbar-routes > ul {
    border: 0px solid red;
    display: flex;
    flex-direction: column;

    padding-left: 0px;
    background-color: var(--bgColor);
    width: 0;
    margin-left: 0px;

    height: 100vh;
  }

  .hide-routes {
    width: 0px;
    padding: 0px;
    transition: 0.5s ease;
    height: 100vh;
    opacity: 0;
    overflow: hidden;
    /* display: none; */
  }
  .display-routes {
    width: 200px;
    border: 0px solid rgb(33, 175, 56);
    transition: 0.5s ease;
    height: 100vh;
    opacity: 1;
    border-right: 1px solid var(--primary);
  }
  .navbar-routes > ul > li {
    font-size: 1.2em;
    margin: 10px 10px;
  }
  .navbar {
    height: 60px;
  }

  .navbar-routes > ul {
    margin: 0;
    /*    justify-content: center; */
  }

  .icons ul {
    font-size: 1.1em;
  }

  .high-z {
    z-index: 101;
  }

  .navbar-dropdown {
    z-index: 1012;
  }

  .dropdown-content {
    display: block;
    position: inherit;
    background-color: transparent;
    left: 0px;
    box-shadow: none;
    padding: 12px 0px;
    z-index: 1;
    color: var(--primary);
  }
  .dropdown-content > ul {
    margin-left: 0;
  }

  .navbar-combo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 10px;
  }
  .navbar-combo-dropdown {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
  }

  .mobile-positionx {
    display: block;
  }

  .hide-dropdown {
    /*   display: none; */
    width: 0px;
  }

  .hide-sidebar {
    width: 0px;
    height: 0px;
    overflow: hidden;
    opacity: 0;
  }
  .display-sidebar {
    position: fixed;
    top: 70px;
    width: 100%;
    background-color: var(--secondary);
    height: 100vh;
    opacity: 1;
    width: 100vw;
    margin-left: -1%;
  }
  .sidebar-mobile {
    transition: 0.2s ease-in-out;
  }

  .mobile-position-arrow {
    display: block;
  }
}
