.navbar {
  height: 60px;
  background-color: var(--bgColor);
  /*  color:#30F5C8; */
  color: var(--primary);
  border-bottom: 0px solid var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-logo {
  height: 40px;
  margin: 5px 10px;
}

.navbar-logo:hover,
.site-name:hover {
  cursor: pointer;
}

.dropdown-menus {
  display: flex;
  align-items: center;
}

.dropdown-menus .menu-item {
  margin: 10px;
}

.icons {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.icon {
  margin: 15px;
  font-size: 18px;
}

.icon:hover,
.menu-item:hover {
  cursor: pointer;
  color: rgb(62, 143, 170);
}

.avatar {
  height: 48px;
  width: 48px;
  border-radius: 10px;
  border: 0px solid gray;
  margin: 0px 10px;
  object-fit: cover;
}

.avatar:hover {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
}
.search-input {
  background-color: #f1f1f1;
  border: none;
  padding: 10px;
  padding-left: 40px;
  border-radius: 10px;
  width: 300px;
}

.search-input:focus {
  outline: 1px solid lightblue;
}

.search-icon {
  position: absolute;
  left: 0;
  font-size: 1em;
  color: rgb(136, 136, 136);
}

.site-name {
  font-size: 1.5em;
  font-weight: bold;
  opacity: 1;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.navbar-routes ul {
  display: flex;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1em;
}

.navbar-routes li {
  list-style: none;
  margin: 0px 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary);
}

.navbar-routes li:hover {
  cursor: pointer;
  color: var(--niceGreen);
}
.icons ul {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1.3em;
  width: fit-content;
}

.icons ul li:hover {
  cursor: pointer;
}

.icons ul li {
  color: var(--primary);
  margin: 0px 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bgColor);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 0px;
  z-index: 1;
  color: var(--primary);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content ul {
  display: flex;
  flex-direction: column;
}
