.post-card{
    height: fit-content;
    background-color: var(--bgColor);
    margin-top: 1.7%;
    color:var(--primary);
    padding: 20px;
    margin-bottom: 3%;
    border-radius: 0%;
    border:0px solid rgb(226, 226, 226);
}


.user-img-post{
    width: 48px;
    height: 48px;
    border-radius: 10px;
    object-fit: cover;
}

.post-details{
    display: flex;
    align-items: center;
    margin: 0px 10px 10px 10px;
    padding-bottom: 2%;
    border-bottom: 0px solid rgb(226, 226, 226);
}

.post-details > p {
    margin-left: 10px;
    
}
.menu-icon{
    right: 0;
    position:absolute
}

.post-options-menu{
    position:absolute;
    right: 15px;  
}

.post-details-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    height: 48px;
}

.hidden{
    display:none
}
.user-username{
    color:rgb(68, 126, 145);
    font-size: 1.1em;
}

.post-content{
    margin-left: 10px;
}
.post-text{
    margin-top: 2%;
    overflow-wrap: break-word;
}

.action-div{
    display: flex;
    width: 100%;
    justify-content: space-around;
   /*  border-top: 1px solid rgb(226, 226, 226);  */
    border-bottom: 0px solid rgb(226, 226, 226);
    margin-top: 2%;
}

.action-div > div{
    display: flex;
    align-items: center;
}
.action-button{
    font-size: 1.1em;
    margin: 10px;
}

.action-button:hover{
    cursor: pointer;
    color:rgb(68, 126, 145);
}

.img{
    margin-top: 1%;
    max-height: 60%;
    max-width: 100%;
}


.img:hover{
    cursor: pointer;
}
.liked,.disliked{
    color:crimson
}


.user-username:hover,.user-img-post:hover{
    cursor: pointer;
}


.single-post-route{
    margin-right: 10px;
}

.menu-icon-option:hover{
    cursor: pointer;
    color:rgb(68, 126, 145);
}
