:root {
    --profile-avatar-height: 120px;
    --profile-avatar-width:120px;
  }
  

.profile-display-container{
    background-color: white;
    margin-top: 1.7%;
    color:#3f4244
    
}

.upper-container{
    height: 350px;
    overflow: hidden;
    background-color: #3f4244;
    object-fit: cover;
}

.banner{
   width: 100%;
   height: 100%;
    object-fit: cover;
}

.bottom-container{
    /* background-color: #f1f1f1; */
    border:1px solid white;
    padding:0px 30px;
}

.profile-avatar{
    height: var(--profile-avatar-height);
    width: var(--profile-avatar-width);
    margin-top: calc(var(--profile-avatar-width)/2 * -1);
    border:2px solid rgb(226, 226, 226);
    border-radius: 10px;
    object-fit:  cover;
    /* margin-left: 30px; */
}
.profile-cross-section{
   border:0px solid red;
   display: flex;
   align-items: center;
}

.user-interactions{
    position: absolute;
    right: 0;
    align-self: center;
    display: flex;
    align-items: center;
}

.send-message-icon{
    font-size: 1.5rem;
    margin-right: 10px;
}

.send-message-icon:hover{
    cursor: pointer;
}
.profile-cross-section   button {
    height: 38px;
    width: 100px;/* 
    margin-top: calc(var(--profile-avatar-width)/2 * -1); */
    
    background-color: rgb(28, 174, 241);
    color:rgb(255, 255, 255);
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    font-size: .8em;
    transition: .2s ease;
}

.profile-cross-section   button:hover {
    cursor: pointer;
    background-color: crimson;
}
.profile-name{
    text-transform: uppercase;

    font-size: 1.05em;
    color:#3f4244
}
.profile-handle{
    color:#494e50;
    font-size: 0.9em;
}

.profile-bio{
    margin: 1% 0%;
    padding-bottom: 2%;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.profile-personal-info{
    display: flex;
    justify-content: space-between;
    padding: 2% 0%;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.profile-personal-info > div {
    display: flex;
    align-items: center;
}

.profile-personal-info > div > p{
    margin-left: 5px;
}
.profile-stats{
    display: flex;
}

.stat{
    margin:2%;
    margin-left: 0%;
}
.friends-incommon{
    margin: 2% 0%;
}