:root {
    --profile-avatar-height: 200px;
    --profile-avatar-width:200px;
  }
  

.profile-display-container{
    background-color: var(--bgColor);
    /* margin-top: 1.7%; */
    color:var(--primary)
    
}

.upper-container{
    height: 400px;
    overflow: hidden;
   
}

.banner{
   width: 100%;
   height: 100%;
    object-fit: cover;
  
}

.bottom-container{
    /* background-color: #f1f1f1; */
    border:0px solid white;
    padding:0px 30px;
}

.banner:hover,.profile-avatar:hover{
    cursor: pointer;
}

.profile-avatar{
    height: var(--profile-avatar-height);
    width: var(--profile-avatar-width);
    margin-top: calc(var(--profile-avatar-width)/2 * -1);
    border:2px solid rgb(226, 226, 226);
    border-radius: 10px;
    object-fit:  cover;
    margin-left: 10%;
}
.profile-cross-section{
   border:0px solid red;
   display: flex;
   align-items: center;
}

.user-interactions{
    position: absolute;
    right: 0;
    align-self: center;
    display: flex;
    align-items: center;
}

.send-message-icon{
    font-size: 1.5rem;
    margin-right: 10px;
}

.send-message-icon:hover{
    cursor: pointer;
}
.profile-cross-section   button {
    height: 38px;
    width: 100px;/* 
    margin-top: calc(var(--profile-avatar-width)/2 * -1); */
    
    background-color: rgb(28, 174, 241);
    color:rgb(255, 255, 255);
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    font-size: .8em;
    transition: .2s ease;
}

.profile-cross-section   button:hover {
    cursor: pointer;
    background-color: crimson;
}
.profile-name{
    text-transform: uppercase;

    font-size: 1.05em;
    color:var(--primary)
}
.profile-handle{
    color:var(--primary);
    font-size: 0.9em;
}

.profile-bio{
    margin: 1% 0%;
    padding-bottom: 2%;
    border-bottom: 0px solid rgb(226, 226, 226);
}

.profile-personal-info{
    display: flex;
    justify-content: space-between;
    padding: 2% 0%;
    border-bottom: 0px solid rgb(226, 226, 226);
}

.profile-personal-info > div {
    display: flex;
    align-items: center;
    
}

.profile-personal-info  p {
    margin-left: 5px;
}
.profile-stats{
    display: flex;
}

.stat{
    margin:2%;
    margin-left: 0%;
}
.friends-incommon{
    margin: 2% 0%;
}

.profile-display-container a{
    text-decoration: none;
    color:inherit
}

.profile-info-stuff{
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 1%;
}

.profile-tabs{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: center;
}

.profile-tabs li{
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
  /*   font-weight: bold; */
    display: flex;
    align-items: center;
    font-size: 1.1em;
    flex-direction: column;
    padding: 10px;
    transition: .2s ease-in;
    border-radius: 10px;
}

.profile-icon{
    margin-right: 5px;
    font-size: 1.4em;
}

.profile-tabs li:hover{
    cursor: pointer;
    color: var(--niceGreen);
    background-color: var(--secondary);
}