.user-display-card{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--bgColor);
    margin-top: 3%;
    border-radius: 3%;
    border:0px solid rgb(226, 226, 226);
    color:var(--primary);
    
    
}

.user-display-card .user-avatar{
    height: 50px;
    width:50px;
   
}

.user-details{
  
    padding: 4px;
}

.user-name{
    font-size: 1.1em;
    margin-bottom: 2px;
}

.user-handle{
    font-size: 0.8em;
}

.user-avatar:hover,.user-name:hover,.user-handle:hover{
    cursor: pointer;
}


